body{
	--base-size: 12px;
	--gutter--size: calc(3*var(--base-size));

	--color--primary: black;
	--color--secondary: gold;
	--color--background: white;

}

header{
	background-color: var(--color--background);
	padding-block: calc(5* var(--base-size));
	
}

.gutters{
	padding: var(--gutter--size);
}
footer {
 background-color: var(--color--secondary);
 padding-top: var(--base-size);


}