:root {
	--base-size: 16px;
	--gutter-size: var(--base-size);

	--color--primary: black;
	--color--secondary: gold;
	--color--background: tomato;

	font-size: var();
}

#mobile {
	display: none;
}

.name {
	display: block;
}

body {
	height: 100%;
	background-image: url("/assets/IMAG0031.JPG");

	background-size: cover;
	height: 100vh;

}

p {
	font-family: "Funnel Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.bigContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;

}

.leftDiv .rightDiv {

	width: 50%;
	height: 100%;

}

.leftDiv {


	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("/assets/cow.svg");

	background-size: cover;
	padding-bottom: 35vh;
	padding-right: 40px;
	padding-left: 40px;

}

h2 {
	color: #000;

	font-family: "Zen Dots";
	font-size: 70px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	/* 46.645px */
	text-transform: capitalize;
	padding-top: 40px;
	padding-bottom: 40px;

}

h1 {
	color: #ffffff;

	font-family: "Zen Dots";
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	/* 46.645px */
	text-transform: capitalize;

}

.grid {
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	display: inline-flex;
	align-items: flex-start;
	column-gap: 35px;


}

/* right div */
.rightDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	align-items: center;

}


header {
	background-color: var(--color--background);
	/* inline is left and right block is top and botommon */
	padding-block: calc(5* var(--base-size));
}



#background {
	object-fit: cover;
	/* Cover the parent. */
	object-position: right center;
	/* Side. */
	overflow: clip;
	/* Chrome needs this to hide extra. */
}

/* #holes{
	width: 50vw;
	height: 100vh;           
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
  
	object-fit: contain;    
	object-position: left top;
  
	overflow: clip;         
	display: block;  
} */

/* section{
	block-size: 75vh;
}
 .links {
	position: absolute;
	z-index: 10;
	
	
} */




footer {
	padding-top: var(--base-size);
	padding-inline: var(--gutter--size);
	background-color: var(--color--secondary);
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}

.gutters {
	padding-inline: var(--gutter--size);


}

/* tablet sizes */
@media screen and (max-width: 1050px) {

	body {
		background-image: url("/assets/cow_mobile.jpg");
		height: 100%;
		/* background-color: blue; */
		/* background-image: none;
		background-image: url("/assets/cow_mobile.jpg");
	
		background-size: cover;
		height: 100%; */

	}

	.words {
		margin-top: 50px;
	}

	#mobile {
		display: block;
		
	}

	.name {
		display: none;
	}

	.grid {
		display: grid;

		grid-template-columns: repeat(1, 1fr);
		display: inline-flex;
		align-items: flex-start;
		column-gap: 30px;
	}
	

	.top {
		width: 100%;
		height: 35vh;
		/* background-color: bisque; */
		font-size: 200px;
		font-family: "Zen Dots";
		color: #ffffff;
		align-items: center;
		text-align: center;
		justify-content: center;
		display: flex;
		background-image: none;
	}

	.middle {
		height: 100%;
		/* background-color: blue; */
	
		background-image: url("/assets/mobile.svg");
		background-size: cover;
		height: 100%;
		display: block;
		padding: 35px;
	
	}


	.bottom {
		width: 100%;
		height: 5vh;
		/* background-color: red; */
	}

	h2 {
		font-size: 50px;
		padding-bottom: 40px;
		padding-top: 0px;
	}

	p {
		font-size: 20px;
	}

	






}

@media screen and (max-width: 600px) {
	body {
		height: 100%;
		/* background-color: blue; */
		/* background-image: none;
		background-image: url("/assets/cow_mobile.jpg");
	
		background-size: cover;
		height: 100%; */

	}

	.words {
		margin-top: 50px;
	}

	#mobile {
		display: block;
		
	}

	.name {
		display: none;
	}

	.grid {
		display: grid;

		grid-template-columns: repeat(1, 1fr);
		display: inline-flex;
		align-items: flex-start;
		column-gap: 30px;
	}
	

	.top {
		width: 100%;
		height: 35vh;
		/* background-color: bisque; */
		font-size: 200px;
		font-family: "Zen Dots";
		color: #ffffff;
		align-items: center;
		text-align: center;
		justify-content: center;
		display: flex;
		background-image: none;
	}

	.middle {
		height: 100%;
		/* background-color: blue; */
		
		background-image: url("/assets/mobile.svg");
		background-size: cover;
		height: 100%;
		display: block;
		padding: 35px;
	
	}


	.bottom {
		width: 100%;
		height: 5vh;
		/* background-color: red; */
	}

	h2 {
		font-size: 50px;
		padding-bottom: 40px;
		padding-top: 0px;
	}

	p {
		font-size: 20px;
	}


}


/* SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	body {
		height: 100%;
		/* background-color: blue; */
		background-image: none;
		background-image: url("/assets/cow_mobile.jpg");
		background-size: cover;
		height: 100%;

	}

	.middle {
		height: 100%;
		/* background-color: blue; */
		background-image: none;
		background-image: url("/assets/mobile.svg");

		background-size: cover;
		height: 100%;
		display: block;
	}

	.name {
		display: none;
	}

	.top {
		width: 100%;
		height: 35vh;
		/* background-color: bisque; */
	}

	.middle {
		width: 100%;
		height: 60vh;
		/* background-color: aqua; */
		padding: 35px;
	}

	.bottom {
		width: 100%;
		height: 5vh;
		/* background-color: red; */
	}

	h2 {
		font-size: 30px;
		padding-bottom: 40px;
		padding-top: 0px;
	}



}






/* SCREEN IS SMALLER THATN 400 PX */

@media screen and (max-width: 400px) {}

/* WHEN SCREEN IS SMALLER THAN 350 PX */
@media screen and (max-width: 350px) {}